*::-webkit-scrollbar {
    background-color: rgb(50, 50, 50);
    width: 0.6vw;
}

*::-webkit-scrollbar-track {
    background-color: rgb(50, 50, 50);
}

*::-webkit-scrollbar-thumb {
    background-color: rgb(20, 20, 20);
    border: 0.15vw solid transparent;
    background-clip: content-box;
    border-radius: 10vw;
}

* {
    letter-spacing: 0.1ch;
    font-family: Futura, Trebuchet MS, Arial, sans-serif;
    font-size: 3vh;
    color: whitesmoke;
}

html,
body {
    height: 100vh;
    width: 100vw;
    background-size: cover, auto 500vh;
    background-position: 0;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    animation: move 120s infinite cubic-bezier(0.6, 0.0, 0.0, 1), move 60s infinite cubic-bezier(0.6, 0.3, 0.2, 1);
}
html{
    background-image: url(BackgroundImage.png);
    background-size: cover;
    background-position: 0;
    animation: move 120s infinite cubic-bezier(0.6, 0.0, 0.0, 1);
}
body {
    background-image:linear-gradient(rgba(50, 35, 5, 0.35), rgba(60, 35, 15, 0.35));
}

a {
    text-decoration: none;
}

span {
    display: block;
    position: relative;
    text-align: center;
    z-index: 99;
    width: 80%;
    height: 80%;
    margin: auto;
    padding: 30% 0;
}

#box {
    position: absolute;
    top: 0;
    left: 10vw;
    width: 70vw;
    height: 24vh;
    padding: 0;
    overflow: hidden;
}
#heading {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: justify;
}

#title {
    font-size: calc(3vh + 3vw);
}

#quote,
b {
    margin-top: 2.5vh;
    letter-spacing: 0.5ch;
}

#box2 {
    position: relative;
    top: 40vh;
    left: 10vw;
    width: 80vw;
    overflow: hidden;
}

.panel {
    background-size: cover;
    position: relative;
    color: white;
    text-shadow: 0 0 0.5vh rgb(50, 25, 5);
    font-weight: bold;
    height: calc(7.5vh + 20vw);
    width: calc(10vh + 30vw);
    box-shadow: 0 0 1vh 0.45vh rgba(125, 45, 25, 0.65);
    margin: 2vh auto 8vh auto;
    border-radius: 2px;
    transition: filter 0.5s;
}

.panel::before {
    background-size: cover;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    transition: filter 0.5s;
    filter: brightness(100%) hue-rotate(15deg);
    background-image: linear-gradient(rgb(160, 65, 65), rgb(170, 85, 65));
}

.panel:hover::before {
    transition: filter 0.5s;
    filter: brightness(80%) hue-rotate(0deg);
}

#credits {
    visibility: visible;
    position: absolute;
    background-image: linear-gradient(rgb(195, 85, 75), rgb(190, 85, 65));
    font-size: 1.5vh;
    color: white;
    text-shadow: rgb(0, 35, 45) 0 0 .5vh;
    top: 10vh;
    left: 95.5vw;
    height: 8vh;
    width: 30vw;
    padding: 1.5vh 1.5vw 0.5vh 1.75vw;
    transition: left 1s;
    border-radius: 15px;
    box-shadow: 0 0 1vh 0.45vh rgba(125, 45, 25, 0.65);
}

#credits::before {
    font-size: 5vh;
    content: "<";
}

#credits:hover {
    left: 75vw;
    transition: left 1s;
}

#credits:hover::before {
    font-size: 5vh;
    content: ">";
}

#credits div {
    font-size: calc(1vh + 1vw);
    position: relative;
    right: 7.25vw;
    float: right;
}